[Unit]
Description=Sendmail Mail Transport Agent
After=syslog.target network.target mailcerts.service
Requires=mailcerts.service

[Service]
Type=simple
PrivateTmp=yes
RuntimeDirectory=sendmail
User=root
Group=smmsp
ExecStart=/usr/local/sbin/sendmail -bD -q1m

[Install]
WantedBy=multi-user.target
Also=sendmail-runner.service
